@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body-l {
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.4375rem;
  }

  .body-m {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.9375rem;
  }

  .heading-l {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.4375rem;
  }

  .heading-m {
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.1875rem;
  }

  .heading-s {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    line-height: 0.9375rem;
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-plus-jakarta-sans);
  margin: 0;
  min-height: 0;
  min-width: 0;
  overflow-wrap: break-word;
  padding: 0;
}

*:focus {
  outline: 0.125rem dotted #635fc7;
  outline-offset: 0.375rem;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-thumb {
  background: #635fc7;
  border: 0px none #ffffff;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a8a4ff;
}

*::-webkit-scrollbar-thumb:active {
  background: #635fc7;
}

*::-webkit-scrollbar-track {
  background: #20212c;
  border: 0px none #ffffff;
  border-radius: 50px;
}

*::-webkit-scrollbar-track:hover {
  background: #20212c;
}

*::-webkit-scrollbar-track:active {
  background: #20212c;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 375px) {
  html {
    font-size: 4.266666vw;
  }
}
