@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  overflow-wrap: break-word;
  padding: 0;
}

@media (max-width: 375px) {
  html {
    font-size: 4.266666vw;
  }
}
